* {
	padding: 0;
	margin: 0;
	max-width: 2000px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: #6aa7cf;
}

	.container {
		background: #eee;
		position: relative;
	}

	header {
		position: relative;
		width: 100%;
		color: #fff;
		padding: 10px 0 0 0;
		font-family: "Arial Black", Gadget, sans-serif;
		background: url("https://cloud.githubusercontent.com/assets/2961492/6599779/565be3e8-c814-11e4-8d9c-9f1d12201856.jpg");

	}

	header h2 {
		color: #6AA7D1;
		font-weight: bold; 
		padding: 0 10%;
		font-family:'Poiret One', cursive;
		font-size:210%;

	}
	header span {
		display: block; 
		padding: 0 10%; 
		margin-bottom:10px; 
		font-size:140%; 
		font-family:'Poiret One', cursive;
	}

	div.circular {
		background: url("https://cloud.githubusercontent.com/assets/2961492/6599781/58bddc18-c814-11e4-9f4f-d79203469044.jpg");
		background-repeat: no-repeat;
    	background-position: 50% 30%;
    	border-radius: 50%;
    	width: 200px;
    	height: 200px;
    	background-size: 100%;
    	color: #fff;
    	display: inline-block;
	}

	nav {
		overflow: auto;
		background: #fff;
		width: 80%;
		padding: 0 10%;
		box-shadow: 0px 5px 20px #888888;
		display: block;
	}

	nav ul {
		list-style: none;
	}


	nav ul li {
		float: left;
		border-top: 5px solid #fff;
		background: #fff;
		padding: 5px 10px 10px 10px;	
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: 110%;
	}

	nav ul li a{
		
		text-transform: uppercase;
		color: #000;
		cursor: pointer;
	}

	nav ul li.menu-element a:hover, nav ul li a.active {
		border-top: 5px solid #6aa7cf;
	}	

	nav ul li#display-menu, nav ul li#display-logo {
		display: none;
	}

	nav ul li#display-logo {
		padding-left:0; 
		padding-right:50px;
		font-family: 'Poiret One', cursive;
		color: #6AA7D1;
		font-weight: bold;
		font-size: 130%;
	}

	#first-element {
		padding-left: 0;
	}

	.wrapper {
		border-radius: 10px;
		overflow: auto;
	 	font-family: 'Roboto', sans-serif;
		margin: 40px auto;
		background: #fff;

		width: calc(80% - 30px);

		font-size: 110%;
		min-height: 300px;

		/*border: 1px solid #888888;*/
		box-shadow: 0px 0px 10px #888888;
		padding: 10px 15px;
	}

	.section-medium {
		width: calc(50% - 15px);
		margin-right: 15px;
		float: left;
		display: inline-block;
	}

	.section-small {
		float: left;
		display: inline-block;
		width: 50%;
	}	

	.section-title {
		font-family: 'Poiret One', cursive;
		font-weight: bold;
		font-size: 210%;
		border-bottom: 2px dotted;
		margin: 0 0 20px 0;
		width: auto;
		color: #6aa7cf;
	}

	/********** EDUCATION STARTS HERE **********/
	.ed-year {
		float: right;
		font-weight: normal;
		color: #888;
	}

	.ed-year-top {
		display: none;
	}

	.ed-title {
		font-weight: bold;
		margin: 10px 0;
		color: #6aa7cf;
	}

	.ed-description {
		margin-bottom: 20px; 
		text-align: justify;
		color: #888;
	}

	/********** EDUCATION ENDS HERE **********/

	/********** CONTACT STARTS HERE **********/

	form.contact input[type="text"], form.contact input[type="email"] {
		display: block;
		padding: 3px 10px;
		width: calc(100% - 20px);
		height: 25px;
		font-size: 110%;
		margin-bottom: 15px;
	}

	form.contact textarea {
		display: block;
		padding: 3px 10px;
		width: calc(100% - 20px);
		font-size: 110%;
		margin-bottom: 15px;
		resize: none;
		font-family: inherit;
	}

	form.contact input[type="submit"] {
		display: block;
		padding: 7px 10px 7px 10px;
		width: auto;
		font-size: 110%;
		background: #6aa7cf; 
		border: 1px solid #ddd;
		font-family: 'Poiret One', cursive;
		font-weight: bold;
	}

	ul.social {
		list-style: none;
		color: #888;
	}

	ul.social li a {
		display: block;
		padding: 7px 0 7px 50px;
		margin-bottom: 30px;	
	}
	ul.social li a.email{
		background: url('https://cloud.githubusercontent.com/assets/2961492/6573857/c1fd4b02-c727-11e4-9c3c-42a33dcf8c55.png') left 10px top 0px no-repeat;
	}
	ul.social li a.linkedin{
		background: url('https://cloud.githubusercontent.com/assets/2961492/6573851/ba0836be-c727-11e4-8447-286d6e161e4b.png') left 10px top 0px no-repeat;
	}	
	ul.social li a.facebook{
		background: url('https://cloud.githubusercontent.com/assets/2961492/6573854/bf2942a0-c727-11e4-84c3-ab26b25f9329.png') left 10px top 0px no-repeat;
	}		
	ul.social li a.skype{
		background: url('https://cloud.githubusercontent.com/assets/2961492/6573861/c8183966-c727-11e4-9a18-0e56db6727f0.png') left 10px top 0px no-repeat;
	}


	/********** CONTACT STARTS HERE **********/

	footer {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		background: url("https://cloud.githubusercontent.com/assets/2961492/6599779/565be3e8-c814-11e4-8d9c-9f1d12201856.jpg");
		width: 80%;
		height: 100px;
		color: #fff;
		padding: 20px 10% 0 10%;
	}

@media all and (max-width: 890px) {

	/********** EDUCATION STARTS HERE **********/
	.ed-year{
		display: none;
	}
	.ed-year-top{
		display: block;
		padding: 10px 0 0 0;
		text-align: center;
	}
	.ed-uni, .ed-title {
		text-align: center;
	}



	/********** EDUCATION ENDS HERE **********/

	.section-full {
		font-size: 90%;
	}

	.section-medium {
		width: 100%;
		margin-right:0; 
		display: block;
		font-size: 90%;
	}
	.section-small {
		margin-top: 20px;
		width: 100%;
		display: block;
		font-size: 90%;
	}



	form.contact input[type="submit"]{ width: 100%; }

	.wrapper {
		width: calc(90% - 30px);
	}	

	header h2, header span {
		padding: 0 5%;
	}

	nav {
		width: 90%;
		padding: 0 5%;
	}

	nav ul li {
		float: none;
		display: none;
		margin: 5px 0;
		text-align: left;
		padding-left: 0;
	}

	nav ul li:hover {
		border-top: 5px solid #fff;
	}

	nav ul li#display-menu {
		display: inline-block;
	}

	nav ul li#display-logo {
		padding-right: 0;
	}

	.wrapper {
		width: calc(90% - 30px);
	}


}


@media all and (max-width: 400px) {
	


}
