body {
  font-family: 'Anaheim', sans-serif;
}

#canvas {
  width: 1000px;
  height: 365px;
  margin: 20px auto;
  display: block;
  position: relative;
}

#palette {
  border: 2px solid;
  width: 1000px;
  height: 70px;
  margin: 20px auto;
  display: block;
}

#canvas img {
  position: absolute;
  cursor: pointer;
}

#canvas img:hover {
  border: 1px solid red;
}

ul.menu {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

ul.menu li {
  margin: 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 120%;
}

.positions {
  display: none;
}

.copyright {
  text-align: center;
  font-weight: bold;
  color: #999;
}

.copyright a {
  text-decoration: none;
  color: #999;
}

 input[type="text"] {
  width: 100px;
 }